# PayOS Configuration
PAYOS_CLIENT_ID=
PAYOS_API_KEY=
PAYOS_CHECKSUM_KEY=

# Firebase Admin Configuration (For Backend to update Firestore)
# FIREBASE_SERVICE_ACCOUNT must be a stringified JSON of the service account key
FIREBASE_SERVICE_ACCOUNT=
